%form{:action => "#{request.path}", :method => 'post'}
  .input_pair
    %label{:for => 'trap[url]'} URL
    %br
    %input{:size => "100", :type => 'textfield', :name => 'trap[url]', :id => 'trap[url]', :value => "#{@trap.url}"}/

  .input_pair
    %label{:for => 'trap[name]'} Name
    %br
    %input{:type => 'textfield', :name => 'trap[name]', :id => 'trap[name]', :value => "#{@trap.name}"}/

  .input_pair
    %label{:for => 'trap[description]'} Description
    %br
    %input{:type => 'textfield', :name => 'trap[description]', :id => 'trap[description]', :value => "#{@trap.description}"}/

  .input_pair
    %label{:for => 'tags'} Tags (space separated)
    %br
    %input{:type => 'textfield', :name => 'tags', :id => 'tags', :value => "#{@trap.tags.map{|t| t.name}.join(" ")}"}/

  %input{:type => 'submit', :name => 'submit'}/
